ul {
    margin-right: 10px;
    display: inline;
}

li {
    margin-right: 98px;
    display: inline;
    margin-top: 10px;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    margin-top: 10px;
    text-transform: capitalize;
}